/* Fonts --- */

@font-face {
    font-family: 'Vastago-Grotesk Heavy';
    src: url('../fonts/VastagoGrotesk-Heavy.otf');
}

@font-face {
    font-family: 'Vastago-Grotesk Bold';
    src: url('../fonts/VastagoGrotesk-Bold.otf');
}

@font-face {
    font-family: 'Vastago-Grotesk Semi-Bold';
    src: url('../fonts/VastagoGrotesk-SemiBold.otf');
}

@font-face {
    font-family: 'Vastago-Grotesk Regular';
    src: url('../fonts/VastagoGrotesk-Regular.otf');
}

/* Index Body --- */

.index-body {
    background-image: url('../assets/home.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Vastago-Grotesk Regular';
}

/* Navbar --- */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    z-index: 1000; 
}

.navbar a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menuLink {
    display: none;
}

/* Homepage --- */

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    position: relative;
    text-align: center;
}

.homepage-text {
    max-width: 700px;
    width: 100%;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
    margin-top: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.tomenu-button {
    font-family: 'Vastago-Grotesk Bold', Arial, Helvetica, sans-serif;
    background-color: #E93635;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 10px 50px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 1;
}

.tomenu-button:hover {
    background-color: white;
    color: #E93635;
}

.tomenu-button:active {
    background-color: #E93635;
    color: white;
    transition: 0.2s;
}

@media screen and (max-width: 425px) {

    .navbar {
        padding: 25px 45px;
    }

    .homepage-text {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    .navbar {
        padding: 25px 45px;
    }

    .homepage-text {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {

    .navbar {
        padding: 25px 45px;
    }

    .homepage-text {
        width: 80%;
    }
}


/* Main Menu Page --- */


.menu-body {
    background-image: url('../assets/menupage.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: 'Vastago-Grotesk Regular';
}

.menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 25px 0;
    padding: 0 5%;
}

.menu-title h1 {
    font-family: 'Vastago-Grotesk Semi-Bold', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 0 5%;
    gap: 1px;
}

.menu-button {
    background-color: white;
    border-radius: 50px;
    border: none;
    margin: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.250);
}

.menu-button:hover {
    background-color: rgb(215, 215, 215);
}

.menu-button:active {
    background-color: rgb(175, 175, 175);
}

.menubutton-icon {
    max-width: 80px;
    padding: 30%;
}


@media screen and (max-width: 1024px) {

    .menu-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
        margin: 0 25px 0 25px;
    }

    .menubutton-icon {
        max-width: 60px;
        padding: 32%;
    }

}

@media screen and (max-width: 768px) {

    .menu-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        margin: 0 20px 0 20px;
    }

    .menubutton-icon {
        max-width: 60px;
        padding: 36%;
    }
    
    .button-10 {
        grid-row: 5;
        grid-column: 2;
    }

}

@media screen and (max-width: 425px) {

    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        margin: 0 5px 0 5px;
    }

    .menubutton-icon {
        max-width: 50px;
        padding: 35%;
    }

    .button-10 {
        grid-row: 5;
        grid-column: 2;
    }

}


/* Say Hello Page --- */

.sayhello-body {
    background-image: url('../assets/sayhello-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Vastago-Grotesk Regular';
}

.sayhello-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 25px 0;
    padding: 0 5%;
}

.sayhello-title h1 {
    font-family: 'Vastago-Grotesk Semi-Bold', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}

.output {
    position: relative;
    margin: 50px 0;
    min-height: 250px;
}

.sayhello-output {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;
    min-height: 250px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sayhello-output p {
    font-family: 'Vastago-Grotesk Semi-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    width: 100%;
}

.sayhello-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 45px;
}

.sayhello-input input {
    width: 500px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    padding: 0 10px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.250);
}

.sayhello-button {
    font-family: 'Vastago-Grotesk Semi-Bold', Arial, Helvetica, sans-serif;
    background-color: #E93635;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 50px;
    width: fit-content;
    margin-top: 50px;
}

.sayhello-button:hover {
    background-color: white;
    color: #E93635;
    transition: 0.2s;
}

.sayhello-button:active {
    background-color: #E93635;
    color: white;
}

@media screen and (max-width: 550px) {

    .sayhello-output {
        width: 350px;
        min-height: 200px;
    }

    .sayhello-input input {
        width: 330px;
        height: 45px;
    }
}

/* Ask Questions Page --- */

.askquestion-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 25px 0;
    padding: 0 5%;
}

.askquestion-title h1 {
    font-family: 'Vastago-Grotesk Semi-Bold', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}

.askquestions-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 3px;
    margin: 45px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.askquestions-input p,
.askquestions-input input {
    align-self: flex-start;
    width: 100%;
}

.askquestions-input input {
    width: 500px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    padding: 0 10px;
}

.askquestions-input p {
    color: white;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
}

.askquestions-input input {
    margin-bottom: 15px;
}

.askquestions-input .sayhello-button {
    align-self: center;
    margin-top: 35px;
}

@media screen and (max-width: 550px) {

    .askquestions-input {
        width: 330px;
        margin: 45px auto;
    }

    .askquestions-input input {
        width: 100% !important;
    }

    .sayhello-output {
        width: 350px;
        min-height: 200px;
    }
}

/* Add Numbers Page --- */

.addnumbers-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 25px 0;
    padding: 0 5%;
}

.addnumbers-title h1 {
    font-family: 'Vastago-Grotesk Semi-Bold', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}

.addnumbers-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 3px;
    margin: 45px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.addnumbers-input p,
.addnumbers-input input {
    align-self: flex-start;
    width: 100%;
}

.addnumbers-input input {
    width: 500px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    padding: 0 10px;
}

.addnumbers-input p {
    color: white;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
}

.addnumbers-input input {
    margin-bottom: 15px;
}

.addnumbers-input .sayhello-button {
    align-self: center;
    margin-top: 35px;
}

@media screen and (max-width: 550px) {

    .addnumbers-input {
        width: 330px;
        margin: 45px auto;
    }

    .addnumbers-input input {
        width: 100% !important;
    }

    .sayhello-output {
        width: 350px;
        min-height: 200px;
    }
}



